body{
    padding:0px;
    margin:0px;
    font-size: 20px; 
    font-weight: bold; 
    font-family: "微软雅黑";
    background: #333;
}
#wrap{
    width: 650px; 
    height: 520px;
    background: #B8AF9E;
    border-radius: 20px;
    margin: 80px auto; 
    overflow: hidden; 
    padding: 8px 0 0 8px;
    position: relative;
}
table{
    text-align: center;
}
#checkPoint1 td{
    width: 60px; 
    height: 38px; 
    background: #cdc1b4; 
    border: 7px solid rgba(162, 141, 5, 0.67); 
    border-radius: 15px;
    padding: 0; 
    margin: 0; 
    font-size: 15px; 
}
#checkPoint2 td {
    width: 60px; 
    height: 26px; 
    background: #cdc1b4; 
    border: 2px solid rgba(162, 141, 5, 0.67); 
    border-radius: 15px;
    padding: 0; 
    margin: 0; 
    font-size: 15px;
}

.none {
    display: none;
}